{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current",
          "presets": ["@babel/preset-react", "@babel/preset-env"],
          "plugins": ["styled-jsx/babel"]
        }
      }
    ]
  ]
}
